#logo {
    display: inline-block;
    border: 1px solid white;
    width: 100%; 
    font-weight: 100!important;
}
.classic-hover:hover {
    text-decoration: underline!important;
}
.link-no-style{
	text-decoration: none!important;
}
.pointer{
	cursor: pointer !important;
}

.fixed {
    position: fixed !important;
}

.respect-side-nav {
    margin-left:340px;
    margin-right:40px;
}

.margin-top-tiny{
	margin-top: 10px; 
}

.margin-bottom-large{
	margin-bottom: 45px;
}

.margin-bottom-tiny{
    margin-bottom: 10px;
}

.pa-r-six{
	padding-right: 6px !important;
}

.post-text-normalize{
	font-weight: normal !important;
	word-wrap: break-word !important;
}

.no-border{
	border: none !important;
}

.no-display{
	display: none;
}

.no-outline {
    outline: none;
}

.vk-background{
	background-color: #fafbfc;
}

.main-bg-color{
	background-color: #edeef0;
}

.add-post-textarea-flat{
	width:100%;
	max-width: 100%;
	min-height: 100px;
	border: none;
	padding: 0;
	resize: none;
}

.d-block {
	display: block!important;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.no-margin {
	margin: 0;
}

.vk-bg{
	background-color: #fafbfc;
}

.mergin-center, .filter-item-center{
	margin: 0 auto!important;
}

.justify-text{
	text-align: justify;
}

.filter-item-center, .filter-select-fixed-width{
	width: 165px;
}

.no-padding{
	padding: 0 !important;
}

.thin-top-shadow {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    -moz-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

input:focus{
    outline: none;
}

/* IMAGE STYLES


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
}


/* Add Animation - Zoom in the Modal */
.modal-content { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        max-width: 100% !important;
    }
}

/* Modal content respectS side nav on large screens */
@media (min-width:993px) {
    .modal-image-container {
        margin-left:340px;
        margin-right:40px;
 }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Display image as thumbnail styles */

@media only screen and (max-width: 700px) {
    .thumbnail {
        display: block!important;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    

    .modal-image-container {
        margin: inherit;
    }
}

.thumbnail {
  position: relative;
  width: 163px;
  height: 164px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}