beautifulsoup4==4.5.3
Django==1.10.1
Faker==0.7.7
googlemaps==2.4.5
ipaddress==1.0.18
lorem-ipsum-generator==0.3
olefile==0.44
Pillow==4.0.0
pluggy==0.4.0
psycopg2==2.6.2
py==1.4.32
python-dateutil==2.6.0
requests==2.11.1
six==1.10.0
tox==2.5.0
transliterate==1.9
virtualenv==15.1.0
