{% load static from staticfiles %}
{% for like in like_list %}
<li class="w3-vk-card w3-white w3-padding w3-display-container">
  <div class="w3-cell w3-cell-middle">
    <a href="{{ VK_BASE_URL }}id{{like.user.username}}" target="_blank"><img src="{{ like.user.vkuser.photo_rec }}" class="w3-circle w3-margin-right" style="width:50px;height: 50px;"></a>
  </div>
  <div class="w3-cell w3-cell-middle">
    <span>
      {{ like.user.first_name }} {{ like.user.last_name }}
    </span>
    <br>
    <span class="w3-text-gray w3-small">
      {{ like.user.vkuser.place_str }}
    </span>
  </div>
  {% if like.message and like.post == request.user.vkuser.post %}
  <button data-like-id="{{ like.id }}" class="show-message-btn w3-display-right w3-btn w3-white w3-text-blue w3-padding-tiny w3-margin-right" title="Показать/скрыть послание">
    <i class="icon-mail" aria-hidden="true"></i>
  </button>
  {% endif %}
</li>
{% if like.message and like.post == request.user.vkuser.post %}
<li data-like-id="{{ like.id }}" class="w3-vk-card w3-white message no-display">
  <p class="w3-border-left w3-border-red w3-padding no-margin justify-text">{{ like.message }}</p>
</li>
{% endif %}
{% endfor %}