{% load static from staticfiles %}
{% for notification in notifications_list %}
<li class="w3-vk-card w3-white">
	{% if notification.verb == 2 or notification.verb == 3%}
		<div class="margin-center">
			<div class="w3-container w3-cell w3-cell-middle">
				<img src="{% static 'posts/images/stuff_notification.svg' %}" class="w3-circle" style="width:50px;" alt="фото профиля">
			</div>
			<div class=" w3-cell w3-cell-middle">
				<p class="no-margin">{{ notification.verb_str }}</p>
			<p class="no-margin w3-text-awesome w3-small">{{ notification.timestamp }}</p>
			</div>
		</div>
	{% else %}
		<div class="margin-center">
			<div class="w3-container w3-cell w3-cell-middle">
				<a target="_blank" href="{{ VK_BASE_URL }}id{{ notification.actor.user.username }}"><img src="{{ notification.actor.photo_rec }}" class="w3-circle" style="width:50px;" alt="фото профиля"></a>
			</div>
			<div class=" w3-cell w3-cell-middle">
				<p class="no-margin">
				<span class="w3-text-blue"><a target="_blank" href="{{ VK_BASE_URL }}id{{ notification.actor.user.username }}"class="link-no-style classic-hover">{{ notification.actor.user.first_name }} {{ notification.actor.user.last_name }}</a></span>
				{{ notification.verb_str }}
				</p>
			<p class="no-margin w3-text-awesome w3-small">{{ notification.timestamp }}</p>
			</div>
		</div>
	{% endif %}
</li>
{% endfor %}