{% load static from staticfiles %} {% for post in posts_list %}
<!-- POST CARD -->
<li data-post-id="{{ post.id }}" class="w3-vk-card margin-top-tiny .w3-custom-round-small w3-white w3-display-container no-padding">
	<!-- POST HEADER -->
	<header data-post-id="{{ post.id }}" class="w3-container w3-padding-large">
		<!-- USER PHOTO -->
		<div class="w3-cell w3-cell-middle">
			{% if post.is_anonymous %}
			<img data-post-id="{{ post.id }}" src="{% static 'posts/images/anonymous.png' %}" class="w3-left w3-circle w3-margin-right"
			 style="width:50px;height: 50px;">
			{% else %}
			<a href="{{ VK_BASE_URL }}id{{ post.author.username }}" target="_blank"><img data-post-id="{{ post.id }}" src="{{ post.author.vkuser.photo_rec }}" class="w3-left w3-circle w3-margin-right"
			 style="width:50px;height: 50px;"></a>
			{% endif %}
		</div>
		<div class="w3-cell w3-cell-middle w3-small">
			<!-- DISPLAY NAME OR ANONYMOUS -->
			<span data-post-id="{{ post.id }}" class="user-name w3-text-blue">
				{% if not post.is_anonymous %}
					<a href="{{ VK_BASE_URL }}id{{ post.author.username }}" target="_blank" class="link-no-style classic-hover">{{ post.author.first_name }} {{ post.author.last_name }}</a>
				{% else %}
					Аноним
				{% endif %}
			</span>
			<br>
			<!-- TIME PUBLISHED -->
			<span data-post-id="{{ post.id }}" class="w3-text-grey w3-small">{{post.pub_datetime|date:"d M"}} в {{post.pub_datetime|time:"H:i"}}</span>
			<br>
			<!-- POST TAGS -->
			<span data-post-id="{{ post.id }}" class="w3-text-grey w3-small">тэг: {{ post.tag_str }}</span>
		</div>
		{% if editable %}
		<div class="w3-display-topright w3-padding-tiny">
			<!-- DELETE BUTTON -->
			<button data-post-id="{{ post.id }}" class="delete w3-btn w3-white w3-text-blue w3-center" title="Удалить пост">
				<i data-post-id="{{ post.id }}" class="icon-trash-empty" aria-hidden="true"></i>
			</button>
		</div>
		{% endif %}
	</header>
	<!-- POST TEXT AND IMAGES-->
	<div data-post-id="{{ post.id }}" class="w3-container w3-padding-large">
		<p data-post-id="{{ post.id }}" class="w3-medium post-text-normalize">{{ post.text }}</p>
		{% if post.photos %}
		<div class="modalContainer photos">
			{% for photo in post.photos %}
			<div class="thumbnail" style="display: inline-block;">
				<img class="post-image{% if photo.is_portrait %} portrait {% endif %}" data-post-id="{{ post.id }}" src="{{ photo.image.url }}" width="{{ photo.image.width }}" height="{{ photo.image.height }}" alt="фото пользователя">
			</div>
			 {% endfor %}
			<!-- The Modal -->
			<div data-post-id="{{ post.id }}" class="modal">
				<!-- The Close Button -->
				<span class="close">&times;</span>
				<!-- Modal Content (The Image) -->
				<div class="modal-image-container"><img class="modal-content"></div>
			</div>
		</div>
		{% endif %}
	</div>
	<!-- POST CONTROLS (LIKE, MESSAGE, WHO LIKED) -->
	<footer data-post-id="{{ post.id }}" class="w3-container thin-top-shadow w3-padding-large">
		<!-- BOTTOM CONTROLS -->
		<div data-post-id="{{ post.id }}" class="w3-right-align">
			<!-- SHOW SEND MESSAGE CONTROLS BUTTON-->
			{% if editable %}
				{% if post.accepted %}
			<span class="w3-left w3-text-green">Опубликовано</span>
				{% endif %}
				{% if not post.rejected and not post.accepted %}
			<span class="w3-left w3-text-yellow">Ожидает публикации</span>
				{% endif %}
				{% if post.rejected %}
			<span class="w3-left w3-text-red">Не опубликован</span>
				{% endif %}
			<!-- LIKE INDICATOR -->
			<a data-post-id="{{ post.id }}" href="{% url 'who_liked' %}?post_id={{ post.id }}" class="link-no-style" title="Кому понравилось?">
				<span data-post-id="{{ post.id }}" class="likes-amount w3-text-blue w3-padding-small classic-hover">Понравилось: {{ post.likes }}</span>
			</a>
			{% endif %}
			{% if not editable %}
			<i data-post-id="{{ post.id }}" class="icon-paper-plane-empty pointer w3-padding-small w3-text-blue show-send-message-controls"
			 aria-hidden="true" title="Оставить послание"></i>
			<!-- PIPE -->
			<span data-post-id="{{ post.id }}" class="w3-text-gray w3-border-left pa-r-six"></span>
			<!-- LIKE INDICATOR -->
			<a data-post-id="{{ post.id }}" href="{% url 'who_liked' %}?post_id={{ post.id }}" class="link-no-style" title="Кому понравилось?">
				<span data-post-id="{{ post.id }}" class="likes-amount w3-text-blue w3-padding-small classic-hover">{{ post.likes }}</span>
			</a>
			<!-- LIKE BUTTON -->
			<i data-post-id="{{ post.id }}" class="icon-heart-empty pointer w3-padding-small {% if post in request.user.vkuser.liked %} w3-text-red {% else %}  w3-text-blue {% endif %}"
			 id="{{ post.id }}"></i>
			{% endif %}
		</div>
		<!-- INPUT AND BUTTON -->
		<div data-post-id="{{ post.id }}" class="w3-row-padding no-display send-message-controls pure-form">
			<div data-post-id="{{ post.id }}" class="w3-col m9 l9 w3-padding-4">
				<input data-post-id="{{ post.id }}" class="w3-input w3-cell no-outline" type="text" placeholder="Оставить послание">
			</div>
			<div data-post-id="{{ post.id }}" class="w3-col m3 l3 w3-padding-4 w3-right-align">
				<button data-post-id="{{ post.id }}" class="w3-btn w3-white w3-text-blue message-sender">Отправить</button>
			</div>
		</div>
	</footer>
</li>
<!-- END POST CARD -->
{% endfor %}