    {% extends "posts/base.html" %}
    {% load static from staticfiles %}
    {% block title %} О проекте {% endblock %}
    {% block content %}
    <!-- PAGE HEADER -->
    <h1 class="w3-padding-tiny w3-text-awesome w3-center">О проекте</h1>
    <!-- POST LIST CONTAINER -->
    <div class="w3-container">
        <article class="justify-text w3-text-awesome w3-large">
            <p><mark>Ищу Тебя</mark> - проект, позволяющий быстрей 
            и удобней заводить новые знакомства. <br></p>
            <p class="no-display">Суть проста: нужно всего лишь <mark>написать пост</mark>, в котором
            вы описываете искомого человека. Затем пост публикуется и его 
            могут видеть другие люди. Если человек прочитал ваш пост и он показался ему интересным,
            то он может ненавязчиво изъявить желание начать общение способом привычным
            для пользователей соц. сетей - <mark>"поставить лайк"</mark>.</p> 
            <div class="no-display">
                <p>Прототипом для проекта послужили 
                <mark>одноименные группы</mark> на сайте vk.com.
                Эти группы обладают рядом <mark>ограничений и неудобств</mark>:</p>
                <ul>
                    <li>звездная болезнь администрации</li>
                    <li>ограниченное число постов в сутки</li>
                    <li>отсутствие возможности сортировки постов по анонимности, по городу, по времени написания и т.д.</li>
                </ul>
            </div>
            <div class="no-display">
                <p>Проект позволяет:</p>
                <ul>
                    <li>публиковать <mark>неограничееное</mark> число постов</li>
                    <li>использовать <mark>теги</mark> (например: ищу парня, ищу друга, ищу с/о и т.д.)</li>
                    <li><mark>фильтровать</mark> посты по городу, по анонимности, по дате публикации, по тегам</li>
                    <li>не только "поставить лайк", но оставить <mark>послание</mark> к посту (не комментарий), которое автор поста точно прочитает</li>
                    <li>получать <mark>уведомления</mark> о новых лайках и посланиях.</li>
                </ul>
            </div>
            <button id="more" class="w3-btn w3-white w3-text-blue">подробнее</button>
        </article>
    </div>
    {% endblock %}
    {% block extra_scripts %}
    <script>
        function showNext() {
            var toShow = $(this).parent().find('div.no-display:first');
            toShow.hide().removeClass('no-display').show(300);
            if (!$(this).parent().find('div.no-display:first')) {
                $(this).remove();
            }
        }
        $('button#more').click(showNext);
    </script>
    {% endblock %}