{% extends "posts/base.html" %}

{% block title %}Новый пост{% endblock %}

{% block content %}
    {% if has_active_post %}
        <h6>У вас уже есть актуальный пост. Если добавитье новый, то предыдущий станет не актуальным навсегда.</h6>
    {% endif %}
        <form action="" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>Текст:</td>
                    <td><textarea name="text" maxlength="2000"></textarea></td>
                </tr>
                <tr>
                    <td>Анонимно:</td>
                    <td><input name="is_anonymous" type="checkbox"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Отправить"></td>
                </tr>
                <tr>
                    <td>Тэги:</td>
                    <td>
                        <select name="tags[]" multiple>
                            {% for tag in tag_list %}
                                <option value="{{ tag }}">{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </form>
{% endblock %}