{% extends "posts/base.html" %}

{% block title %}Новый пост{% endblock %}

{% block content %}
    <form action="" method="POST">
        <table>
        <tr>
            <td>Текст:</td>
            <td><textarea name="text" maxlength="2000"></textarea></td>
        </tr>
        <tr>
            <td>Анонимно:</td>
            <td><input name="is_anonymous" type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>
    </form>
{% endblock %}