{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %}Аутентификация{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{GOOGLE_PLACES_API_KEY}}"></script>
    <script type="text/javascript" src="{% static 'posts/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/js/syp_auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/js/util.js' %}"></script>
    <script type="text/javascript">
        VK.init({apiId: {{APP_ID}}});
    </script>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
    <h1>Аутентификация</h1>
    <div id="vk_auth">
        <script type="application/javascript">
            initAuthWidjet();
        </script>
    </div>
    {% csrf_token %}
{% endblock %}
