{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'posts/styles/dist/w3c.css' %}">
        <link rel="stylesheet" href="{% static 'posts/styles/dist/helper.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'posts/images/favicon.png' %}"/>
        <title>Ищу тебя | Вход</title>
        <style>
            /* provide full height*/
            html, body {
                height: 100%;
            }
        </style>
    </head>
    <body class="w3-red w3-display-container">
        <section class="w3-display-middle">
            <h2 class="w3-center"><span id="logo">Ищу тебя</span></h2>
            <p>Севастополь. Симферополь. Ялта.</p>
            <div id="vk_auth" class="margin-center">
            </div>
            {% csrf_token %}
        </section>
        <footer class="w3-display-bottommiddle w3-bar w3-center w3-small">
            <span>&copy ищутебякрым.рф, 2017</span>
        </footer>
        <!--scripts-->
        <script src="//vk.com/js/api/openapi.js?146"></script>
        <script src="{% static 'posts/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'posts/js/util.js' %}"></script>
        <script>
            VK.init({apiId: "{{ APP_ID }}" });
        </script>
        <script src="{% static 'posts/bower_components/alertifyjs/dist/js/alertify.js' %}"></script>
        <script>
        // alertify settings
        alertify.logPosition("bottom right");
        alertify.okBtn("Да");
        alertify.cancelBtn("Нет");
        </script>
        <script>
            function initAuthWidjet() {
                VK.Widgets.Auth("vk_auth", {
                    width: "200px", onAuth: function (data) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url "login" %}',
                            data: {
                                uid: data.uid,
                                first_name: data.first_name,
                                last_name: data.last_name,
                                photo_rec: data.photo_rec,
                                hash: data.hash,
                                csrfmiddlewaretoken: getCookie('csrftoken')
                            },
                            success: function (response) {
                                if (response['success']) {
                                    window.location = '{% url "posts" %}';
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alertify.error('Что-то пошло не так.');
                            },
                            dataType: 'json'
                        });
                    }
                });
            }
            initAuthWidjet();
        </script>
    </body>
</html>


