{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block links %}
      <link rel="stylesheet" href="{% static 'posts/styles/dist/w3c.css' %}">
      <link rel="stylesheet" href="{% static 'posts/styles/dist/helper.min.css' %}">
      <link rel="stylesheet" href="{% static 'posts/styles/dist/fontawesome-webfont.min.css' %}">
      <link rel="shortcut icon" type="image/png" href="{% static 'posts/images/favicon.png' %}"/>
      {% endblock %}
      {% block extra_links %}{% endblock %}
      {% block scripts %}
      {% endblock %}
      {% block extra_scripts_head %}{% endblock %}
      <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- NAV -->
    {% block nav %}
    <nav class="w3-sidenav w3-red w3-collapse w3-top w3-padding" style="z-index:3;width:300px;" id="mySidenav"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-small w3-padding-xlarge w3-hide-large w3-display-topleft w3-hover-white" style="width:100%">закрыть</a>
      <div class="w3-container">
        <h2 class="w3-padding-64 w3-center"><span class="logo">Ищу тебя</span></h2>
      </div>
      <a href="{% url 'posts' %}" onclick="w3_close()" class="w3-padding w3-hover-white" >Посты</a>
      <a href="{% url 'notifications' %}" onclick="w3_close()" class="w3-padding w3-hover-white w3-hide-medium w3-hide-small" >Уведомления
      {% if request.user.vkuser.unread_notifications_amount %}
      <span class="w3-badge">{{  request.user.vkuser.unread_notifications_amount }}</span>
      {% endif %}
      </a>
      <a href="{% url 'my_posts' %}" onclick="w3_close()" class="w3-padding w3-hover-white" >Мой пост</a>
      <a href="{% url 'liked' %}" onclick="w3_close()" class="w3-padding w3-hover-white" >Лайкнутые</a>
      <a href="{% url 'add_post' %}" onclick="w3_close()" class="w3-padding w3-hover-white" >Новый пост</a>
      <a href="{% url 'profile'%}" onclick="w3_close()" class="w3-padding w3-hover-white" >Профиль</a>
      <div class="w3-display-bottommiddle w3-bar w3-center w3-small" style="margin-top: 115px;">
        <a href="{% url 'about'%}" onclick="w3_close()" class="w3-bar-item w3-hover-none w3-hover-text-white classic-hover" style="width:50%">О проекте</a>
        <a href="{% url 'contacts'%}" onclick="w3_close()" class="w3-bar-item w3-hover-none w3-hover-text-white classic-hover" style="width:50%">Контакты</a>
        <span>&copy; ищутебякрым.рф, 2017</span>
      </div>
    </nav>
    {% endblock %}
    <!-- TOP MENU ON SMALL SCREENS -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-padding-small">
      <div class="w3-row">
        <div class="w3-col s2 w3-left-align">
          <a href="javascript:void(0)" class="w3-btn w3-red w3-margin-right" onclick="w3_open()"><i class="icon-menu" aria-hidden="true"></i></a>
        </div>
        <div class="w3-col s8 w3-center">
          <a href="{% url 'posts' %}" class="w3-btn w3-red"><span>Ищу тебя</span></a>
        </div>
        <div class="w3-col s2 w3-right-align">
          <a href="{% url 'notifications' %}" onclick="w3_close()" class="w3-btn w3-red" >
                <i class="icon-bell"></i>
                {% if request.user.vkuser.unread_notifications_amount %}
                <span class="w3-text-white">{{  request.user.vkuser.unread_notifications_amount }}</span>
                {% endif %}
          </a>
        </div>
      </div>
    </header>
    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>  <!-- !PAGE CONTENT! -->
    <div class="w3-main respect-side-nav">
        <div class=".w3-custom-container" style="margin-top:80px; margin-bottom: 200px;" id="showcase">
            {% block content %}{% endblock %}
            {% block fakeauth %}{% endblock %}
        </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- SCRIPTS -->
    <script src="{% static 'posts/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'posts/js/util.js' %}"></script>
    <script>
    // Script to open and close sidenav
    function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    </script>
    <script src="{% static 'posts/bower_components/alertifyjs/dist/js/alertify.js' %}"></script>
    <script>
      // alertify settings
      alertify.logPosition("bottom right");
      alertify.okBtn("Да");
      alertify.cancelBtn("Нет");
    </script>
    <!-- EXTRA SCRIPTS -->
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
