<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="" />
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
    <meta charset="utf-8">
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{%  url 'posts'%}">Посты</a>
            <li><a href="#">Лайкнутые</a>
            <li><a href="{%  url 'add_post'%}">Новый пост</a>
            <li><a href="{% url 'logout_view' %}">Выход</a>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>