{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %} Контакты {% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-text-awesome w3-center">Контакты</h1>
<!-- POST LIST CONTAINER -->
<div class="w3-container">
    <article class="w3-large">
        <section id="mail" class="margin-bottom-tiny w3-vk-card w3-padding-tiny w3-row">
            <p class="w3-third w3-center w3-text-awesome">E-mail:</p>
            <p class="w3-twothird w3-center w3-text-awesome"><span class="w3-text-blue">contact@ищутебякрым.рф</span></p>
        </section>
        <section id="telegram" class="w3-vk-card w3-padding-tiny w3-row">
            <p class="w3-third w3-center w3-text-awesome">Telegram:</p>
            <p class="w3-twothird w3-center w3-text-awesome"><span class="w3-text-blue">@sypcrimea</span></p>
        </section>
    </article>
</div>
{% endblock %}
