{% extends "posts/base.html" %}

{% block title %}Редактирование{% endblock %}

{% block content %}
        <form action="{% url 'save_editions' %}" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>Текст:</td>
                    <td><textarea name="text" maxlength="2000">{{ text }}</textarea></td>
                </tr>
                <tr>
                    <td>Анонимно:</td>
                    <td><input name="is_anonymous" type="checkbox" {% if is_anonymous %}checked{% endif %}></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сохранить"></td>
                </tr>
            </table>
        </form>
{% endblock %}