{% extends "posts/base.html" %}

{% block title %}Редактирование{% endblock %}

{% block content %}
        <form action="{% url 'save_editions' %}" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td><input type="hidden" name="post_id" value="{{ post_id }}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Текст:</td>
                    <td><textarea name="text" maxlength="2000">{{ text }}</textarea></td>
                </tr>
                <tr>
                    <td>Анонимно:</td>
                    <td><input name="is_anonymous" type="checkbox" {% if is_anonymous %}checked{% endif %}></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сохранить"></td>
                </tr>
                <tr>
                    <td>Тэги:</td>
                    <td>
                        <select name="tags[]" multiple>
                            {% for tag in tag_list %}
                                <option value="{{ tag }}" {% if tag in post.tags %}selected{% endif %}>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </form>
{% endblock %}