{% extends "posts/base.html" %}

{% load static from staticfiles %}

{% block title %}Лайкнутые{% endblock %}

{% block content %}
    <!-- PAGE HEADER -->
    <h1 class="w3-padding-tiny w3-text-awesome w3-center">Лайкнутые</h1>
    {% if liked_posts %}
    {% for post in liked_posts %}
    <!-- POST CARD -->
    {% include "posts/post_card.html" %}
    {% endfor %}

    {% else %}
    {% include 'posts/no_results.html' with message="Вы еще не лайкнули ни одного поста." %}
    {% endif %}
{% endblock %}
