{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block extra_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/styles/dist/forms.min.css' %}">
{% endblock %}
{% block title %}Лайкнутые{% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-text-awesome w3-center">Лайкнутые</h1>
<!-- POST LIST CONTAINER -->
<div id="post-list-container">
    <!-- POST LIST -->
    {% if posts_list %}
    {% include 'posts/post_list.html' %}
    {% endif %}
    {% if not posts_list %}
    {% include 'posts/no_results.html' with message="Нет постов пока." %}
    {% endif %}
    <!-- END POST LIST -->
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    var loadMoreUrl = "{% url 'liked' %}";
    var likeUrl = "{% url 'like_post' %}";
    var leaveMessageUrl = "{% url 'leave_message' %}";
    var filterState = getFilterState();
</script>
<script type="text/javascript" src="{% static 'posts/js/post_manipulations.js' %}"></script>
{% endblock %}