{% extends "posts/base.html" %}

{% block title %}Плюсануть{% endblock %}

{% block content %}
        <form action="" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        Послание:
                    </td>
                    <td>
                        <textarea>
                            
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Отправить</td>
                </tr>
            </table>
        </form>
{% endblock %}