{% extends "posts/base.html" %}

{% load static from staticfiles %}

{% block extra_scripts_head %}
	<script src="{% static 'posts/js/util.js' %}"></script>
{% endblock %}

{% block title %}Посты{% endblock %}

{% block content %}
	<!-- PAGE HEADER -->
	<h1 class="w3-padding-tiny w3-text-awesome w3-center"> Мои посты</h1>
	{% if user_posts_list %}
		{% for post in user_posts_list %}
			{% include 'posts/post_card.html' with editable=True %}
		{% endfor %}
	{% else %}
        <div class="w3-container w3-padding-jumbo w3-center w3-text-gray">
            <h3>Вы еще ничего не писали.</h3>
            <span class="w3-jumbo">:(</span>
        </div>
	{% endif %}
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
	 $(document).ready(function () {

		// make post not relevant event handler
		$('button.make-not-actual').click(function (){
			var post_id = $(this).data('post-id');
	 		$.ajax({
	 			type: "POST",
	 			url: "{% url 'make_post_not_relevant' %}", 			
	 			data: {
	 				post_id: post_id,
	 				csrfmiddlewaretoken: getCookie('csrftoken')
	 			},
	 			context: this,
	 			dataType: "json",
	 			success: function (data){
	 				if (data.success){
	 					$(this).html('Готово');
	 					$(this).delay(30000).remove();
	 					$('span.actuality-indicator[data-post-id=' + post_id + ']').remove();
	 				}
	 			}
	 		});
		});
		//delete button event handler
		$('button.delete').click(function(){
			var post_id = $(this).data('post-id');
	 		$.ajax({
	 			type: "POST",
	 			url: "{% url 'delete_post' %}", 			
	 			data: {
	 				post_id: post_id,
	 				csrfmiddlewaretoken: getCookie('csrftoken')
	 			},
	 			context: this,
	 			dataType: "json",
	 			success: function (data){
	 				if (data.success){
	 					$('div.w3-vk-card[data-post-id=' + post_id + ']').remove();
	 				}
	 			}
	 		});
		});
	 });
	</script>
{% endblock %}jj