{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block extra_scripts_head %}
<script src="{% static 'posts/js/util.js' %}"></script>
{% endblock %}
{% block title %} Мой пост {% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-text-awesome w3-center"> Мой пост</h1>
{% if request.user.vkuser.post %}
<ul class="w3-ul">
	{% include 'posts/post_card.html' with editable=True post=request.user.vkuser.post %}
</ul>
{% else %}
{% include 'posts/no_results.html' with message="У вас нет поста." %}
{% endif %}
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
	 $(document).ready(function () {
		//delete button event handler
		$('button.delete').click(function(){
			delete_confirmation = confirm('Вы действительно хотите удалить ваш пост?');
			if (delete_confirmation) {
				var post_id = $(this).data('post-id');
		 		$.ajax({
		 			type: "POST",
		 			url: "{% url 'delete_post' %}", 			
		 			data: {
		 				post_id: post_id,
		 				csrfmiddlewaretoken: getCookie('csrftoken')
		 			},
		 			context: this,
		 			dataType: "json",
		 			success: function (data){
		 				if (data.success){
		 					$('div.w3-vk-card[data-post-id=' + post_id + ']').remove();
		 				}
		 			}
		 		});
			}
		});
	 });
</script>
{% endblock %}jj