{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %}Уведомления{% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-center w3-text-awesome">Уведомления</h1>
<!-- UNREAD NOTIFICATIONS -->
{% if unread_notifications %}
<h3 class="w3-vk-card-noshadow w3-padding-tiny  w3-text-awesome">Новые</h3>
<ul id="unread_list" class="w3-ul w3-margin">{% include 'posts/includes/notifications_list.html' with notifications_list=unread_notifications %}</ul>
{% endif %}
<!-- READ NOTIFICATIONS -->
{% if read_notifications %}
<h3 class="w3-vk-card-noshadow w3-padding-tiny w3-text-awesome">Просмотренные</h3>
<ul id="read_list" class="w3-ul w3-margin">{% include 'posts/includes/notifications_list.html' with notifications_list=read_notifications %}</ul>
{% endif %}
<!-- LOAD MORE BUTTON -->
{% if has_next %}
{% include 'posts/includes/load_more_button_with_loader' %}
{% endif %}
<!-- NO NOTIFICATIONS -->
{% if not unread_notifications and not read_notifications %}
{% include 'posts/includes/no_results.html' with message="Нет увидомлений пока." %}
{% endif %}
{% endblock %}
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		var load_more_btn = $('button#load-more-btn');
		if (load_more_btn) {
			load_more_btn.click(function () {
				$(this).toggle();
				$('span#loading-indicator').toggle();
		 		$.ajax({
		 			type: 'GET',
		 			url: '{% url "notifications" %}',
		 			data: {
		 				offset: $(this).data('offset')
		 			},
		 			dataType: "json",
		 			context: this,
		 			success: function (data) {
		 				$('ul#read_list').append(data.rendered_template);
		 				// increment if has next page
		 				if (data.has_next) {
		 					// hide loader
		 					$('span#loading-indicator').toggle();
		 					//show button
		 					$(this).toggle();
		 					// increment 
		 					$(this).data('offset', data.next_page);
		 				} else {
		 					// remove loader
		 					$('span#loading-indicator').remove();
		 					// remove button
		 					$(this).remove();
		 				}
		 			}
		 		});
			});
		}
	});
</script>
{% endblock %}