{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %} Ищу Тебя | Уведомления {% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-center w3-text-awesome">Уведомления</h1>
<!-- NOTIFICATIONS -->
{% if notifications_list %}
<ul id="notifications_list" class="w3-ul w3-margin">{% include 'posts/includes/notifications_list.html' %}</ul>
{% endif %}
<!-- LOAD MORE BUTTON -->
{% if has_next %}
{% include 'posts/includes/load_more_button_with_loader.html' %}
{% endif %}
<!-- NO NOTIFICATIONS -->
{% if not notifications_list %}
{% include 'posts/includes/no_results.html' with message="Нет увидомлений пока." %}
{% endif %}
{% endblock %}
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		$('button#load-more-btn').click(function () {
			$(this).toggle();
			$(this).next().toggle();
			$.ajax({
				type: 'GET',
				url: '{% url "notifications_ajax" %}',
				data: {
					offset: $(this).data('offset')
				},
				dataType: "json",
				context: this,
				success: function (data) {
					$('ul#notifications_list').append(data.rendered_template);
					// increment if has next page
					if (data.has_next) {
						// hide loader
						$(this).next().toggle();
						//show button
						$(this).toggle();
						// increment
						$(this).data('offset', data.next_page);						
					} else {
						// remove loader
						$(this).next().remove();
						// remove button
						$(this).remove();
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alertify.error(xhr.responseText);
				}
			});
		});
	});
</script>
{% endblock %}