{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %}Уведомления{% endblock %}

{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-center w3-text-awesome">Уведомления</h1>
{% if unread_notifications %}
<h3 class="w3-vk-card-noshadow w3-padding-tiny  w3-text-awesome">Новые</h3>
{% include 'posts/notifications_list.html' with notifications_list=unread_notifications %}
{% endif %}


{% if read_notifications %}
<h3 class="w3-vk-card-noshadow w3-padding-tiny w3-text-awesome">Просмотренные</h3>
{% include 'posts/notifications_list.html' with notifications_list=read_notifications %}
{% endif %}



{% if not unread_notifications and not read_notifications %}
        <div class="w3-container w3-padding-jumbo w3-center w3-text-gray">
            <h3>Нет уведомлений пока.</h3>
            <span class="w3-jumbo">:(</span>
        </div>
{% endif %}


{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
	
</script>
{% endblock %}