
{% extends "posts/base.html" %}

{% block title %}Посты{% endblock %}

{% block content %}
    <img src="{{request.user.vkuser.photo_rec}}">
    <h3>{{request.user.first_name}}, нет постов... пока</h3>
    <h4>{{request.user.vkuser.place}}</h4>
    {% for post in posts_list %}
        <ul>
            <li>author: {{ post.user.id }}</li>
            <li>text: {{ post.text }}</li>
            <li>place: {{ post.place }}</li>
            <li>anon: {{ post.is_anonymous }}</li>
            <li>is actual: {{ post.is_actual }}</li>
            <li>pub date time: {{ post.pub_datetime }}</li>
            {% if request.user.id == post.user.id %}
                <form action="{% url 'edit_post' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Редактировать">
                </form>
                <form action="{% url 'delete_post' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Удалить">
                </form>
                <form action="{% url 'make_post_not_relevant' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Сделать неактуальным">
                </form>
            {% endif %}
            <li>
                <form action="{% url 'like_post' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Лайк">
                </form>
            </li>
            <li>Лайки: {{ post.likes }}</li>
            <li><a href="{% url 'liked' %}/{{ post.id }}/"></a></li>
        </ul>
    {% endfor %}
{% endblock %}
