{% extends "posts/base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <h3>{{ request.user.first_name }}  {{ request.user.last_name}}</h3>
    <form action="{% url 'profile' %}" method="POST">{% csrf_token %}
        <input type="hidden" value="{{ request.user.id }}" name="uid">
        <input type="hidden" value="" name="place_change">
        <table>
            <tr>
                <td>Изменить город:</td>
                <td>
                    <select name="place" >
                        <option value="0">Севастополь</option>
                        <option value="1">Симферополь</option>
                        <option value="2">Ялта</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Сохранить"></td>
            </tr>
        </table>
    </form>
    <form action="{% url 'profile' %}" method="POST">{% csrf_token %}
        <input type="hidden" value="{{ request.user.id }}" name="uid">
        <input type="hidden" value="" name="profile_delete">
        <input type="submit" value="Удалить профиль">
    </form>
{% endblock content %}