{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block extra_links %}
<link rel="stylesheet" href="{% static 'posts/styles/dist/forms.min.css' %}">
{% endblock %}
{% block extra_scripts_head %}
<script src="{% static 'posts/js/util.js' %}"></script>
{% endblock %}
{% block title %}Профиль{% endblock %}
{% block content %}
<!-- PAGE HEADER -->
<h1 class="w3-padding-tiny w3-center w3-text-awesome">Профиль</h1>
<!-- PROFILE CARD -->
<div class="w3-vk-card w3-section .w3-custom-round-small w3-white">
    <!-- DELETE PROFILE BUTTON -->
    <button  id="delete-btn" class="w3-btn w3-white w3-text-blue  w3-padding-large" title="Удалить профиль"><i class="icon-trash-empty" aria-hidden="true"></i></button>
    <button  id="delete-btn" class="w3-btn w3-white w3-text-blue  w3-padding-large w3-right" title="Выйти"><a href="{% url 'logout_view' %}"><i class="icon-logout" aria-hidden="true"></i></a></button>
    <!-- PROFILE HEADER -->
    <header class="w3-container w3-padding-large w3-center">
        <!-- USER PHOTO -->
        {% if request.user.vkuser.photo_rec %}
        <img src="{{ request.user.vkuser.photo_rec }}" class="w3-circle" style="width:100px">
        {% else %}
        <img src="{% static 'posts/images/man.svg' %}" class="w3-circle" style="width:200px" alt="Нет фотографии">
        {% endif %}
        <br>
        <!-- USERNAME -->
        <span>{{ request.user.first_name }}  {{ request.user.last_name}}</span><br>
        <!-- PLACE & AGE -->
        <span id="place" class="w3-text-gray">{{ request.user.vkuser.place_str }}</span>
        {% if request.user.vkuser.age > 0 %}
        <span id="age">{{request.user.vkuser.age}} лет</span>
        {% endif %}
    </header>
    <!-- CONTROLS -->
    <footer id="profile_editor">
        <!-- CHANGE PLACE -->
        <div class="w3-container w3-padding-large pure-form">
            <p class="w3-text-gray">Город</p>
            <select id="place_input" class="w3-select" name="option">
                <option value="0" {% if request.user.vkuser.place == 0 %} selected {% endif %}>Севастополь</option>
                <option value="1" {% if request.user.vkuser.place == 1 %} selected {% endif %}>Симферополь</option>
                <option value="2" {% if request.user.vkuser.place == 2 %} selected {% endif %}>Ялта</option>
            </select>
        </div>
        <!-- SAVE -->
        <div class="w3-container w3-padding-large w3-center">
            <button id="save-btn" class="w3-btn w3-white w3-text-blue">Сохранить</button>
        </div>
    </footer>
</div>
{% endblock content %}
{% block extra_scripts %}
<script>
    $(document).ready(function () {
        $('#save-btn').click(function (){
            $.ajax({
                type: "POST",
                url: "{% url 'save_profile_editions' %}",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    place: $.trim($('#place_input').val()),
                },
                context: this,
                dataType: "json",
                success: function(data) {
                        $('#place').text(data.place);
                        alertify.success("Сохранено");
                }
            });
        });
        
        $('button#delete-btn').click(function(){
            alertify.confirm('Вы действительно хотите удалить профиль?', function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'delete_user' %}",
                    data: {
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                    dataType: "json",
                    success: function(data){
                        if(data.success){
                            location.reload();
                        }
                    }
                });
            });
        });
    });
</script>
{% endblock %}