{% extends "posts/base.html" %}
{% load static from staticfiles %}
{% block title %} Ищу Тебя | Понравилось {% endblock %}

{% block content %}
<!-- HEADER -->
<h1 class="w3-padding-tiny w3-text-awesome w3-center">Понравилось</h1>
<!-- LIST -->
<div class="w3-row">
    {% if like_list %}
    <ul data-post-id="{{ post_id }}" id="like-list" class="w3-ul">
        {% include 'posts/includes/like_list.html' %}
    </ul>
    {% else %}  
    {% include 'posts/includes/no_results.html' with message="Никто не лайкнул пока." %}
    {% endif %}
        <!-- LOAD MORE BUTTON -->
    {% if has_next %}
      {% include 'posts/includes/load_more_button_with_loader.html' %}
    {% endif %}  
</div>

{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
  function toggleLikeMessage() {
      like_id = $(this).data('like-id');
      $('li.message[data-like-id=' + like_id + ']').toggle();
  }
  $(document).on('click', 'button.show-message-btn', toggleLikeMessage);
  $(document).ready(function () {
    var load_more_btn = $('button#load-more-btn');
    if (load_more_btn) {
      load_more_btn.click(function () {
        $(this).toggle();
        $('span#load-more-loader').toggle();
        var offset = parseInt($(this).data('offset'), 10);
        $.ajax({
          type: 'GET',
          url: '{% url "who_liked" %}',
          dataType: "json",
          data: {
            offset: offset,
            post_id: $('ul#like-list').data('post-id')
          },
          context: this,
          success: function (data) {
            $('ul#like-list').append(data.rendered_template);
            // increment if has next page
            if (data.has_next) {
              // hide loader
              $('span#load-more-loader').toggle();
              //show button
              $(this).toggle();
              // increment 
              $(this).data('offset', ++offset);
            } else {
              // remove load more section
              $('section#load-more-section').remove();
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alertify.error('Что-то пошло не так.');
          }
        });
      });
    }
  });
</script>
{% endblock %}